
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Poppins&family=Roboto+Serif:opsz,wght@8..144,300&display=swap');


*{
    margin: 0;
    padding: 0;
    background-color: #2d414b;
}

nav{
    color: #F2C14E;
    height: 75px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Finger Paint', cursive;
}

.gameinfo{
    display: flex;
    justify-content: center;
    color: #F2C14E;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #F2C14E;
    color: #333;
    border-color: #F2C14E;
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
    margin-top: 10px;
}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.gamecontainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
}

.line{
    background-color: #F2C14E;
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
}

.box{
    border: 2px solid #F2C14E;
    font-size: 6vw;
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    font-family: 'Finger Paint', cursive;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.boxtext{
    color: #F2C14E;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bb-0{
    border-bottom: 0;
}

.bt-0{
    border-top: 0;
}

.tie{
    display: none;
}